<div class="header-big  post-top css-color mb-4" id="search-bg" style="">
    <div class="s-search">
        <div id="search" class="s-search mx-auto">
            <div id="search-list-menu" class="hide-type-list">
                <div class="s-type text-center">
                    <div class="s-type-list big">
                        <div class="anchor" style="position: absolute; left: 50%; opacity: 0;"></div>
                        <label for="type-useful"   data-id="group-a"><span>Useful</span></label>
                        <label for="type-tool"     data-id="group-c"><span>Tool</span></label>
                        <label for="type-life"   data-id="group-d"><span>Life</span></label>
                        <label for="type-study"     data-id="group-g"><span>Study</span></label>
                    </div>
                </div>
            </div>

            <form action="https://www.baidu.com?s=" method="get" target="_blank" class="super-search-fm">
                <input type="text" id="search-text" class="form-control smart-tips search-key" 
                    zhannei="" placeholder="Type to search" style="outline:0" autocomplete="off">
                <button class="submit" type="submit"><i class="iconfont icon-search"></i></button>
            </form>

            <div id="search-list" class="hide-type-list">
                <div class="search-group group-a">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" id="type-useful"
                            value="https://www.google.com/search?q=" 
                            data-placeholder="Don't be evil.">
			                <label for="type-google"><span class="text-muted">Google</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-youtube"
                            value="https://www.youtube.com/results?search_query=" 
                            data-placeholder="Broadcast Yourself.">
                            <label for="type-youtube"><span class="text-muted">Youtube</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-twitter"
                            value="https://twitter.com/search?q=" 
                            data-placeholder="What's happening?">
                            <label for="type-twitter"><span class="text-muted">Twitter</span></label></li>    
                        <li><input hidden="" type="radio" name="type" id="type-github"
                            value="https://github.com/search?q=" 
                            data-placeholder="Let's build from here.">
			                <label for="type-github"><span class="text-muted">Github</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-ytm"
                            value="https://music.youtube.com/search?q=" 
                            data-placeholder="It's all here.">
                            <label for="type-ytm"><span class="text-muted">Youtube Music</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-duck"
                            value="https://duckduckgo.com/?q=" 
                            data-placeholder="Privacy, simplified.">
                            <label for="type-duck"><span class="text-muted">DuckDuckGo</span></label></li>
                    </ul>
                </div>
                <div class="search-group group-c">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" id="type-tool"
                            value="https://check-host.net/ip-info?host=" 
                            data-placeholder="Enter the URL or IP">
                            <label for="type-ping"><span class="text-muted">IP Info</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-ping"
                            value="https://check-host.net/check-ping?host=" 
                            data-placeholder="Enter the URL or IP">
                            <label for="type-ping"><span class="text-muted">Check Ping</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-tcp"
                            value="https://check-host.net/check-tcp?host=" 
                            data-placeholder="Enter the URL or IP">
                            <label for="type-ping"><span class="text-muted">Check TCP Port</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-speedtest"
                            value="https://pagespeed.web.dev/analysis?url=" 
                            data-placeholder="Enter the URL or IP">
                            <label for="type-speedtest"><span class="text-muted">Website Speed Test</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-whois"
                            value="https://who.is/whois/"  
                            data-placeholder="Enter domain">
                            <label for="type-whois"><span class="text-muted">Whois</span></label></li>   
                    </ul>
                </div>
                <div class="search-group group-d">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" id="type-life" 
                            value="https://www.amazon.co.uk/s?k=" 
                            data-placeholder="Amazon UK">
                            <label for="type-taobao"><span class="text-muted">Amazon UK</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-amz" 
                            value="https://www.amazon.com/s?k=" 
                            data-placeholder="Amazon Global">
                            <label for="type-taobao"><span class="text-muted">Amazon Global</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-ebayuk" 
                            value="https://www.ebay.co.uk/sch/i.html?_nkw=" 
                            data-placeholder="Ebay UK">
                            <label for="type-taobao"><span class="text-muted">Ebay UK</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-ebay" 
                            value="https://www.ebay.com/sch/i.html?_nkw=" 
                            data-placeholder="Ebay Global">
                            <label for="type-taobao"><span class="text-muted">Ebay Global</span></label></li>
                    </ul>
                </div>
                <div class="search-group group-g">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" id="type-study" 
                            value="https://wikipedia.org/wiki/" 
                            data-placeholder="Free online encyclopedia">
                            <label for="type-wiki"><span  class="text-muted">Wikipedia</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-ggxs" 
                            value="https://scholar.google.com/scholar?q=" 
                            data-placeholder="Search scholarly literature">
                            <label for="type-ggxs"><span  class="text-muted">Google Scholar</span></label></li>
                    </ul>
                </div>
            </div>
            <div class="card search-smart-tips search-hot-text">
                <ul id="word" style="display: none"></ul>
            </div>
        </div>
    </div>
</div>
