<div class="header-big  post-top css-color mb-4" id="search-bg" style="">
    <div class="s-search">
        <div id="search" class="s-search mx-auto">
            <div id="search-list-menu" class="hide-type-list">
                <div class="s-type text-center">
                    <div class="s-type-list big">
                        <div class="anchor" style="position: absolute; left: 50%; opacity: 0;"></div>
                        <label for="type-google"   data-id="group-a"><span>常用</span></label>
                        <label for="type-bing"     data-id="group-b"><span>搜索</span></label>
                        <label for="type-ping"     data-id="group-c"><span>工具</span></label>
                        <label for="type-taobao"   data-id="group-d"><span>生活</span></label>
                        <label for="type-boss"     data-id="group-e"><span>招聘</span></label>
                        <label for="type-aqc"      data-id="group-f"><span>公司</span></label>
                        <label for="type-wiki"     data-id="group-g"><span>学术</span></label>
                    </div>
                </div>
            </div>

            <form action="https://www.baidu.com?s=" method="get" target="_blank" class="super-search-fm">
                <input type="text" id="search-text" class="form-control smart-tips search-key" 
                    zhannei="" placeholder="输入关键字搜索" style="outline:0" autocomplete="off">
                <button class="submit" type="submit"><i class="iconfont icon-search"></i></button>
            </form>

            <div id="search-list" class="hide-type-list">
                <div class="search-group group-a">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" id="type-google"
                            value="https://www.google.com/search?q=" 
                            data-placeholder="Don't be evil.">
			                <label for="type-google"><span class="text-muted">Google</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-youtube"
                            value="https://www.youtube.com/results?search_query=" 
                            data-placeholder="Broadcast Yourself.">
                            <label for="type-youtube"><span class="text-muted">Youtube</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-twitter"
                            value="https://twitter.com/search?q=" 
                            data-placeholder="What's happening?">
                            <label for="type-twitter"><span class="text-muted">Twitter</span></label></li>    
                        <li><input hidden="" type="radio" name="type" id="type-github"
                            value="https://github.com/search?q=" 
                            data-placeholder="Let's build from here.">
			                <label for="type-github"><span class="text-muted">Github</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-ytm"
                            value="https://music.youtube.com/search?q=" 
                            data-placeholder="It's all here.">
                            <label for="type-ytm"><span class="text-muted">Youtube Music</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-duck"
                            value="https://duckduckgo.com/?q=" 
                            data-placeholder="Privacy, simplified.">
                            <label for="type-duck"><span class="text-muted">DuckDuckGo</span></label></li>
                    </ul>
                </div>
                <div class="search-group group-b">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" id="type-bing"
                            value="https://www.bing.com/search?q=" 
                            data-placeholder="快乐搜索，有求必应">
                            <label for="type-bing"><span class="text-muted">必应</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-baidu"
                            value="https://www.baidu.com/s?wd=" 
                            data-placeholder="百度一下，你就知道">
                            <label for="type-baidu"><span class="text-muted">百度</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-bilibili" 
                            value=" https://search.bilibili.com/all?keyword=" 
                            data-placeholder="哔哩哔哩，干杯！">
                            <label for="type-bilibili"><span class="text-muted">B站</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-zhihu" 
                            value="https://www.zhihu.com/search?type=content&q=" 
                            data-placeholder="有问题，就会有答案">
                            <label for="type-zhihu"><span class="text-muted">知乎</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-douyin" 
                            value="https://www.douyin.com/search/" 
                            data-placeholder="记录美好生活">
                            <label for="type-douyin"><span class="text-muted">抖音</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-kuaishou" 
                            value="https://www.kuaishou.com/search/video?searchKey=" 
                            data-placeholder="拥抱每一种生活">
                            <label for="type-kuaishou"><span class="text-muted">快手</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-wechat" 
                            value="https://weixin.sogou.com/weixin?type=2&query=" 
                            data-placeholder="搜狗 | 微信搜索平台">
                            <label for="type-wechat"><span class="text-muted">微信</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-weibo" 
                            value="https://s.weibo.com/weibo/" 
                            data-placeholder="随时随地发现新鲜事！">
                            <label for="type-weibo"><span class="text-muted">微博</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-douban" 
                            value="https://www.douban.com/search?q=" 
                            data-placeholder="汇聚一亿人生活趣味">
                            <label for="type-douban"><span class="text-muted">豆瓣</span></label></li>
                    </ul>
                </div>
                <div class="search-group group-c">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" id="type-ping"
                            value="https://ping.chinaz.com/" 
                            data-placeholder="请输入网址(不带 https://)">
                            <label for="type-ping"><span class="text-muted">PING 检测</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-speedtest"
                            value="https://tool.chinaz.com/speedtest/" 
                            data-placeholder="请输入网址(不带 https://)">
                            <label for="type-speedtest"><span class="text-muted">网站测速</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-whois"
                            value="https://whois.philsilver.xyz/?q="  
                            data-placeholder="请输入网址(不带 https://)">
                            <label for="type-whois"><span class="text-muted">Whois查询</span></label></li>   
                        <li><input hidden="" type="radio" name="type" id="type-ghbk"
                            value="https://www.ghxi.com/?s=" 
                            data-placeholder="搜索绿色软件">
                            <label for="type-ghbk"><span class="text-muted">果核剥壳</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-yyxl"
                            value="https://blog.philsilver.xyz/?s=" 
                            data-placeholder="Life is short, world is wide.">
                            <label  for="type-yyxl"><span class="text-muted">夜雨夕岚</span></label></li>
                    </ul>
                </div>
                <div class="search-group group-d">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" id="type-taobao" 
                            value="https://s.taobao.com/search?q=" 
                            data-placeholder="淘宝·太好逛了吧！">
                            <label for="type-taobao"><span class="text-muted">淘宝</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-jd" 
                            value="https://search.jd.com/Search?keyword=" 
                            data-placeholder="京东·不负每一份热爱">
                            <label for="type-jd"><span class="text-muted">京东</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-kd100" 
                            value="https://kuaidi100.com/?nu=" 
                            data-placeholder="请输入快递单号">
                            <label for="type-kd100"><span class="text-muted">快递100</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-drug" 
                            value="https://drugs.dxy.cn/pc/search?keyword=" 
                            data-placeholder="丁香园·搜索疾病、指南、药品">
                            <label for="type-drug"><span class="text-muted">用药助手</span></label></li>   
                        <li><input hidden="" type="radio" name="type" id="type-xiachufang" 
                            value="https://www.xiachufang.com/search/?keyword=" 
                            data-placeholder="下厨房·请输入菜名或食材">
                            <label for="type-xiachufang"><span class="text-muted">下厨房</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-xiangha" 
                            value="https://www.xiangha.com/so/?q=caipu&s=" 
                            data-placeholder="香哈菜谱·请输入菜名或食材">
                            <label for="type-xiangha"><span class="text-muted">香哈菜谱</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-gjkd" 
                            value="https://t.17track.net/zh-cn#nums=" 
                            data-placeholder="请输入国际快递单号">
                            <label for="type-gjkd"><span class="text-muted">国际快件</span></label></li>
                    </ul>
                </div>
                <div class="search-group group-e">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" id="type-boss" 
                            value="https://www.zhipin.com/web/geek/job?query=" 
                            data-placeholder="找工作，上BOSS直聘直接谈">
                            <label for="type-boss"><span  class="text-muted">BOSS直聘</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-zhilian" 
                            value="https://sou.zhaopin.com/jobs/searchresult.ashx?kw=" 
                            data-placeholder="智联招聘，更懂你的价值">
                            <label for="type-zhilian"><span  class="text-muted">智联招聘</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-51job" 
                            value="https://search.51job.com/?" 
                            data-placeholder="找工作，上前程无忧">
                            <label for="type-51job"><span class="text-muted">前程无忧</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-lagou" 
                            value="https://www.lagou.com/jobs/list_" 
                            data-placeholder="拉钩网">
                            <label for="type-lagou"><span class="text-muted">拉钩网</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-liepin" 
                            value="https://www.liepin.com/zhaopin/?key=" 
                            data-placeholder="黄土埋金，发光靠猎聘">
                            <label for="type-liepin"><span class="text-muted">猎聘网</span></label></li>
                    </ul>
                </div>
                <div class="search-group group-f">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" id="type-aqc" 
                            value="https://aiqicha.baidu.com/s?q=" 
                            data-placeholder="专业查企业，就上爱企查">
                            <label for="type-aqc"><span  class="text-muted">爱企查</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-tyc" 
                            value="https://tianyancha.com/search?key=" 
                            data-placeholder="查公司，查老板，查关系">
                            <label for="type-tyc"><span  class="text-muted">天眼查</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-qcc" 
                            value="https://www.qcc.com/web/search?key=" 
                            data-placeholder="查企业，上企查查">
                            <label for="type-qcc"><span  class="text-muted">企查查</span></label></li>
                    </ul>
                </div>
                <div class="search-group group-g">
                    <ul class="search-type">
                        <li><input hidden="" type="radio" name="type" id="type-wiki" 
                            value="https://zh.wikipedia.org/wiki/" 
                            data-placeholder="维基百科，自由的百科全书">
                            <label for="type-wiki"><span  class="text-muted">维基百科</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-ggxs" 
                            value="https://scholar.google.com/scholar?q=" 
                            data-placeholder="谷歌学术，站在巨人的肩膀上">
                            <label for="type-ggxs"><span  class="text-muted">谷歌学术</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-bdxs" 
                            value="https://xueshu.baidu.com/s?wd=" 
                            data-placeholder="百度学术，保持学习的态度">
                            <label for="type-bdxs"><span  class="text-muted">百度学术</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-etym" 
                            value="https://etymonline.com/index.php?search=" 
                            data-placeholder="Etymonline">
                            <label for="type-etym"><span  class="text-muted">在线词源</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-mw" 
                            value="https://merriam-webster.com/dictionary/" 
                            data-placeholder="Merriam-Webster">
                            <label for="type-mw"><span  class="text-muted">韦氏词典</span></label></li>
                        <li><input hidden="" type="radio" name="type" id="type-ieee" 
                            value="http://ieeexplore.ieee.org/search/searchresult.jsp?queryText=" 
                            data-placeholder="IEEEXplore">
                            <label for="type-ieee"><span  class="text-muted">IEEEXplore</span></label></li>
                    </ul>
                </div>
            </div>
            <div class="card search-smart-tips search-hot-text">
                <ul id="word" style="display: none"></ul>
            </div>
        </div>
    </div>
</div>
