<div class="modal fade search-modal" id="search-modal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div id="search" class="s-search mx-auto my-4">
                    <div id="search-list" class="hide-type-list">
                        <div class="s-type">
                            <span></span>
                            <div class="s-type-list">
                                <label for="m_type"  data-id="group-a">This site</label>
                            </div>
                        </div>
                        <div class="search-group group-a"><span class="type-text text-muted">This site</span>
                            <ul class="search-type">
                                <li><input hidden="" type="radio" name="type2" id="m_type" 
                                    value="https://www.google.com/search?q=" data-placeholder="Don't be evil.">
                                    <label for="m_type-google"><span class="text-muted">Google</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-youtube" 
                                    value="https://www.youtube.com/results?search_query=" data-placeholder="Broadcast Yourself.">
                                    <label for="m_type-youtube"><span class="text-muted">Youtube</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-twitter"
                                    value="https://twitter.com/search?q=" data-placeholder="What's happening?">
                                    <label for="m_type-twitter"><span class="text-muted">Twitter</span></label></li>   
                                <li><input hidden="" type="radio" name="type2" id="m_type-github" 
                                    value="https://github.com/search?q=" data-placeholder="Let's build from here.">
                                    <label for="m_type-github"><span class="text-muted">Github</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-ytm" 
                                    value="https://music.youtube.com/search?q=" data-placeholder="It's all here">
                                    <label for="m_type-ytm"><span class="text-muted">Youtube Music</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-duck"
                                    value="https://duckduckgo.com/?q=" data-placeholder="Privacy, simplified.">
                                    <label for="m_type-duck"><span class="text-muted">DuckDuckGo</span></label></li>
                            </ul>
                        </div>
                    </div>
                    <form action="https://nav.iowen.cn?s=" method="get" target="_blank" class="super-search-fm">
                        <input type="text" id="m_search-text" class="form-control smart-tips search-key" zhannei=""
                                autocomplete="off" placeholder="输入关键字搜索" style="outline:0">
                        <button type="submit"><i class="iconfont icon-search"></i></button>
                    </form>
                    <div class="card search-smart-tips" style="display: none">
                        <ul></ul>
                    </div>
                </div>
            </div>
            <div style="position: absolute;bottom: -40px;width: 100%;text-align: center;">
                <a href="javascript:" data-dismiss="modal"><i class="iconfont icon-close-circle icon-2x" style="color: #fff;"></i></a>
            </div>
        </div>
    </div>
</div>
