<div class="modal fade search-modal" id="search-modal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div id="search" class="s-search mx-auto my-4">
                    <div id="search-list" class="hide-type-list">
                        <div class="s-type">
                            <span></span>
                            <div class="s-type-list">
                                <label for="m_type-google"  data-id="group-a">常用</label>
                                <label for="m_type-bing"    data-id="group-b">搜索</label>
                                <label for="m_type-ping"    data-id="group-c">工具</label>
                                <label for="m_type-taobao"  data-id="group-d">生活</label>
                                <label for="m_type-boss"    data-id="group-e">招聘</label>
                                <label for="m_type-aqc"     data-id="group-f">公司</label>
                                <label for="m_type-wiki"    data-id="group-g">学术</label>
                            </div>
                        </div>
                        <div class="search-group group-a"><span class="type-text text-muted">常用</span>
                            <ul class="search-type">
                                <li><input hidden="" type="radio" name="type2" id="m_type-google" 
                                    value="https://www.google.com/search?q=" data-placeholder="Don't be evil.">
                                    <label for="m_type-google"><span class="text-muted">Google</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-youtube" 
                                    value="https://www.youtube.com/results?search_query=" data-placeholder="Broadcast Yourself.">
                                    <label for="m_type-youtube"><span class="text-muted">Youtube</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-twitter"
                                    value="https://twitter.com/search?q=" data-placeholder="What's happening?">
                                    <label for="m_type-twitter"><span class="text-muted">Twitter</span></label></li>   
                                <li><input hidden="" type="radio" name="type2" id="m_type-github" 
                                    value="https://github.com/search?q=" data-placeholder="Let's build from here.">
                                    <label for="m_type-github"><span class="text-muted">Github</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-ytm" 
                                    value="https://music.youtube.com/search?q=" data-placeholder="It's all here">
                                    <label for="m_type-ytm"><span class="text-muted">Youtube Music</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-duck"
                                    value="https://duckduckgo.com/?q=" data-placeholder="Privacy, simplified.">
                                    <label for="m_type-duck"><span class="text-muted">DuckDuckGo</span></label></li>
                            </ul>
                        </div>
                        <div class="search-group group-b"><span class="type-text text-muted">搜索</span>
                                <ul class="search-type">
                                    <li><input hidden="" type="radio" name="type2" id="m_type-bing"
                                        value="https://www.bing.com/search?q=" data-placeholder="快乐搜索，有求必应"><label
                                        for="m_type-bing"><span class="text-muted">必应</span></label></li>
                                    <li><input hidden="" type="radio" name="type2" id="m_type-baidu"
                                        value="https://www.baidu.com/s?wd=" data-placeholder="百度一下，你就知道"><label
                                        for="m_type-baidu"><span class="text-muted">百度</span></label></li>
                                    <li><input hidden="" type="radio" name="type2" id="m_type-bilibili" 
                                        value=" https://search.bilibili.com/all?keyword=" data-placeholder="哔哩哔哩，干杯！">
                                        <label for="m_type-bilibili"><span class="text-muted">B站</span></label></li>
                                    <li><input hidden="" type="radio" name="type2" id="m_type-wechat"
                                        value="https://weixin.sogou.com/weixin?type=2&query=" data-placeholder="搜狗 | 微信搜索平台">
                                        <label for="m_type-wechat"><span class="text-muted">微信</span></label></li>
                                    <li><input hidden="" type="radio" name="type2" id="m_type-zhihu"
                                        value="https://www.zhihu.com/search?type=content&q=" data-placeholder="有问题，就会有答案">
                                        <label for="m_type-zhihu"><span class="text-muted">知乎</span></label></li>
                                    <li><input hidden="" type="radio" name="type2" id="m_type-weibo"
                                        value="https://s.weibo.com/weibo/" data-placeholder="随时随地发现新鲜事！">
                                        <label for="m_type-weibo"><span class="text-muted">微博</span></label></li>
                                    <li><input hidden="" type="radio" name="type2" id="m_type-douban"
                                        value="https://www.douban.com/search?q=" data-placeholder="汇聚一亿人生活趣味">
                                        <label for="m_type-douban"><span class="text-muted">豆瓣</span></label></li>
                                </ul>
                        </div>
                        <div class="search-group group-c"><span class="type-text text-muted">工具</span>
                            <ul class="search-type">
                                <li><input hidden="" type="radio" name="type2" id="m_type-ping"
                                    value="https://ping.chinaz.com/" data-placeholder="请输入网址(不带 https://)"><label
                                    for="m_type-ping"><span class="text-muted">PING 检测</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-speedtest"
                                    value="https://tool.chinaz.com/speedtest/" data-placeholder="请输入网址(不带 https://)">
                                    <label for="m_type-speedtest"><span class="text-muted">网站测速</span></label></li> 
                                <li><input hidden="" type="radio" name="type2" id="m_type-whois"
                                    value="https://whois.philsilver.xyz/?q=" data-placeholder="请输入网址(不带 https://)"><label 
                                    for="m_type-whois"><span class="text-muted">Whois查询</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-ghbk"
                                    value="https://www.ghxi.com/?s=" data-placeholder="搜索绿色软件"><label
                                    for="m_type-ghbk"><span class="text-muted">果核剥壳</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-yyxl"
                                    value="https://blog.philsilver.xyz/?s=" data-placeholder="Life is short, world is wide."><label
                                    for="m_type-yyxl"><span class="text-muted">夜雨夕岚</span></label></li>
                            </ul>
                        </div>
                        <div class="search-group group-d"><span class="type-text text-muted">生活</span>
                            <ul class="search-type">
                                <li><input hidden="" type="radio" name="type2" id="m_type-taobao"
                                    value="https://s.taobao.com/search?q=" data-placeholder="淘宝·太好逛了吧！">
                                    <label for="m_type-taobao"><span class="text-muted">淘宝</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-jd"
                                    value="https://search.jd.com/Search?keyword=" data-placeholder="京东·不负每一份热爱">
                                    <label for="m_type-jd"><span class="text-muted">京东</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-kd100" 
                                    value="https://kuaidi100.com/?nu=" data-placeholder="请输入快递单号">
                                    <label for="m_type-kd100"><span class="text-muted">快递100</span></label></li>
                                <li><input hidden="" type="radio" name="type" id="m_type-drug" 
                                    value="https://drugs.dxy.cn/pc/search?keyword=" data-placeholder="丁香园·搜索疾病、指南、药品">
                                    <label for="m_type-drug"><span class="text-muted">用药助手</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-xiachufang"
                                    value="https://www.xiachufang.com/search/?keyword=" data-placeholder="下厨房·请输入菜名或食材">
                                    <label for="m_type-xiachufang"><span class="text-muted">下厨房</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-xiangha"
                                    value="https://www.xiangha.com/so/?q=caipu&s=" data-placeholder="香哈菜谱·请输入菜名或食材">
                                    <label for="m_type-xiangha"><span class="text-muted">香哈菜谱</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-gjkd" 
                                    value="https://t.17track.net/zh-cn#nums=" data-placeholder="请输入国际快递单号">
                                    <label for="m_type-gjkd"><span class="text-muted">国际快件</span></label></li>
                            </ul>
                        </div>
                        <div class="search-group group-e"><span class="type-text text-muted">招聘</span>
                            <ul class="search-type">
                                <li><input hidden="" type="radio" name="type2" id="m_type-boss"
                                    value="https://www.zhipin.com/web/geek/job?query=" data-placeholder="找工作，上BOSS直聘直接谈">
                                    <label for="m_type-boss"><span class="text-muted">BOSS直聘</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-zhaopin"
                                    value="https://sou.zhaopin.com/jobs/searchresult.ashx?kw=" data-placeholder="智联招聘，更懂你的价值">
                                    <label for="m_type-zhaopin"><span class="text-muted">智联招聘</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-51job"
                                    value="https://search.51job.com/?" data-placeholder="找工作，上前程无忧">
                                    <label for="m_type-51job"><span class="text-muted">前程无忧</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-lagou"
                                    value="https://www.lagou.com/jobs/list_" data-placeholder="拉钩网">
                                    <label for="m_type-lagou"><span class="text-muted">拉钩网</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-liepin"
                                    value="https://www.liepin.com/zhaopin/?key=" data-placeholder="黄土埋金，发光靠猎聘">
                                    <label for="m_type-liepin"><span class="text-muted">猎聘网</span></label></li>
                            </ul>
                        </div>
                        <div class="search-group group-f"><span class="type-text text-muted">公司</span>
                            <ul class="search-type">
                                <li><input hidden="" type="radio" name="type2" id="m_type-aqc" 
                                    value="https://aiqicha.baidu.com/s?q=" data-placeholder="专业查企业，就上爱企查">
                                    <label for="m_type-aqc"><span  class="text-muted">爱企查</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-tyc" 
                                    value="https://tianyancha.com/search?key=" data-placeholder="查公司，查老板，查关系">
                                    <label for="m_type-tyc"><span  class="text-muted">天眼查</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-qcc" 
                                    value="https://www.qcc.com/web/search?key=" data-placeholder="查企业，上企查查">
                                    <label for="m_type-qcc"><span  class="text-muted">企查查</span></label></li>
                            </ul>
                        </div>
                        <div class="search-group group-g"><span class="type-text text-muted">学术</span>
                            <ui class="search-type">
                                <li><input hidden="" type="radio" name="type2" id="m_type-wiki" 
                                    value="https://zh.wikipedia.org/wiki/" data-placeholder="维基百科，自由的百科全书">
                                    <label for="m_type-wiki"><span  class="text-muted">维基百科</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-ggxs" 
                                    value="https://scholar.google.com/scholar?q=" data-placeholder="谷歌学术，站在巨人的肩膀上">
                                    <label for="m_type-ggxs"><span  class="text-muted">谷歌学术</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-bdxs" 
                                    value="https://xueshu.baidu.com/s?wd=" data-placeholder="百度学术，保持学习的态度">
                                    <label for="m_type-bdxs"><span  class="text-muted">百度学术</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-etym" 
                                    value="https://etymonline.com/index.php?search=" data-placeholder="Etymonline">
                                    <label for="m_type-etym"><span  class="text-muted">在线词源</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-mw" 
                                    value="https://merriam-webster.com/dictionary/" data-placeholder="Merriam-Webster">
                                    <label for="m_type-mw"><span  class="text-muted">韦氏词典</span></label></li>
                                <li><input hidden="" type="radio" name="type2" id="m_type-ieee" 
                                    value="https://ieeexplore.ieee.org/search/searchresult.jsp?queryText=" data-placeholder="IEEEXplore">
                                    <label for="m_type-ieee"><span  class="text-muted">IEEEXplore</span></label></li>
                            </ui>
                        </div>                       
                    </div>
                    <form action="https://nav.iowen.cn?s=" method="get" target="_blank" class="super-search-fm">
                        <input type="text" id="m_search-text" class="form-control smart-tips search-key" zhannei=""
                                autocomplete="off" placeholder="输入关键字搜索" style="outline:0">
                        <button type="submit"><i class="iconfont icon-search"></i></button>
                    </form>
                    <div class="card search-smart-tips" style="display: none">
                        <ul></ul>
                    </div>
                </div>
            </div>
            <div style="position: absolute;bottom: -40px;width: 100%;text-align: center;">
                <a href="javascript:" data-dismiss="modal"><i class="iconfont icon-close-circle icon-2x" style="color: #fff;"></i></a>
            </div>
        </div>
    </div>
</div>
